#footer {
  border-top: 7px solid main-color;
  margin-top: 30px;
  margin-bottom: 50px;
}
#footer .footer-pic {
  width: 1200px;
  height: 67px;
  margin-bottom: 20px;
  margin-top: 30px;
  background: url(/static/img/season-footer.png) 0 0 no-repeat;
}
#footer .footer-public {
  width: 1200px;
}
#footer .footer-public .item {
  width: 300px;
  float: left;
  text-align: center;
}
#footer .footer-public .item h4 {
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  color: a-color;
}
#footer .footer-public .item a {
  font-size: 12px;
  line-height: 20px;
}
#footer .footer-bottom {
  margin-top: 30px;
  text-align: center;
}
#footer .footer-bottom a {
  padding: 0 10px;
}
#footer .footer-bottom p {
  margin-top: 15px;
  color: a-color;
  line-height: 25px;
}
