#header
  .top-bar
    background-color #f2f0f1
    height 30px
    line-height 30px
    span
      color a-color
      &:first-child
        color #000
    .order,.msg,.cart,.help
      position relative
      font-size 12px
      padding-left 20px
    .order,.msg,.cart,.help
      i
        display block
        position absolute
        width 18px
        height 18px
        left 0
        top -1px
        background unquote('url(/static/img/icon/'+season+'-topbar-icons.png)') no-repeat
    .order
      i
        background-position -6px -6px
      &:hover
        i
          background-position -6px -36px
    .msg
      i
        background-position -36px -6px
      &:hover
        i
          background-position -36px -36px
    .cart
      i
        background-position -66px -6px
      &:hover
        i
          background-position -66px -36px
    .help
      i
        background-position -96px -6px
      &:hover
        i
          background-position -96px -36px

  .logo-search
    background-color #FFF
    .logo
      width 320px
      height 132px
      overflow hidden
      background-color #FFF
    .select-store
      padding-left 10px
      padding-top 50px
      font-size 16px
      line-height 30px
      position relative
      z-index 50
      #store
        padding 3px 25px 3px 10px
        position relative
        z-index 50
        cursor pointer
        i
          z-index 50
          position absolute
          top 8px
          right 5px
          display block
          width 16px
          height 16px
          background unquote('url(/static/img/icon/'+season+'-icons.png)') 0 0 no-repeat
        &.active
          border 2px solid main-color
          border-bottom none
          background-color #FFF
      .select-store-list
        display none
        z-index 49
        background-color #FFF
        width 680px
        padding 50px 50px 30px 50px
        border 2px solid main-color
        position absolute
        top 76px
        *top 78px
        left 10px
        dl
          line-height 30px
          height 30px
          font-size 14px
          dt
            width 45px
            display inline-block
            *display inline
            *zoom 1
            color main-color
            text-shadow(0 0 1px main-color);
          dd
            display inline-block
            *display inline
            *zoom 1
            a
              padding 0 15px
        .imglist
          margin-top 30px
          border-top 1px dashed border-color
          a
            display inline-block
            *display inline
            *zoom 1
            width 160px
            height 50px
            padding 5px 5px 5px 0
            img
              width 160px
              height 50px
    .search-box
      width 650px
      height auto
      margin-top 35px
      a
        display inline-block
        height 40px
        padding-left 15px
        line-height 20px
        font-size 12px
        text-align center
    .search-list
      padding-top 15px
      line-height 1
      width 480px
      height 40px
      font-size 14px
      a,span
        color a-lcolor
        padding-right 5px
      a:hover
        color main-color

@require "./nav.styl"
