#header
  .top-bar
    background-color #f2f0f1
    height 30px
    line-height 30px
    span
      color a-color
      &:first-child
        color #000
    .msg,.cart
      padding-left 20px
  .logo-search
    .logo
      width 320px
      height 132px
      overflow hidden
    .select-store
      padding-left 10px
      padding-top 50px
      font-size 16px
      line-height 30px
    .search-box
      margin-top 35px
      a
        display inline-block
        height 40px
        padding-left 15px
        line-height 20px
        font-size 12px
        text-align center
    .search-list
      padding-top 15px
      line-height 1
      width 480px
      height 40px
@require "./nav.styl"
