translate(s)
  transition s
  -moz-transition s
  -webkit-transition s
  -o-transition s

border-radius(s)
  -moz-border-radius s
  -webkit-border-radius s
  border-radius s

opacity(s)
  opacity s
  -moz-opacity s
  filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(s * 100) + ')')

text-shadow(s)
  text-shadow s
  -moz-text-shadow s
  -webkit-text-shadow s
  //filter unquote('progid:DXImageTransform.Microsoft.Blur(pixelRadius=0,MakeShadow=false);')
  font-weight unquote('bold\0\9')
  _font-weight bold
box-shadow(s)
  -webkit-box-shadow s
  -moz-box-shadow s
  box-shadow s
