body,
ol,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
tbody,
tr,
td,
img,
div,
dl,
dt,
dd,
input {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-size: 12px;
  font-family: font;
}
li {
  list-style: none;
}
input,
select,
textarea {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: normal;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
a {
  text-decoration: none;
  color: a-color;
}
a:hover {
  text-decoration: underline;
  color: main-color;
}
table,
tr,
td,
tbody {
  border-collapse: collapse;
  border-spacing: 0;
}
