.backtop
  width 60px
  height 60px
  position fixed
  z-index 100
  bottom 40px
  background url(/static/img/icon/backtop1.png) 0 0 no-repeat
  display none
  &:hover
    background url(/static/img/icon/backtop2.png) 0 0 no-repeat