@require "./core/season.styl"
@require "./core/variable.styl"
@require "./core/function.styl"

main-color = autumn-main-color
sub-color = autumn-sub-color

@require "./core/reset.styl"
@require "./ui/button.styl"
@require "./ui/input.styl"

::selection
  color #ffffff
  background-color main-color
  text-shadow 0 0 20px #FFF

.container
  width 1200px
  margin-left auto
  margin-right auto

.left
  float left
.right
  float right
