.input
  border-color main-color
.input-search
  width 460px
  border-width 3px
  border-style solid
  border-radius(3px 0 0 3px)
  font-size 14px
  height 24px
  line-height 24px
  padding 7px 5px
.input-num
  width 45px
  padding 5px
  text-align center
  font-size 12px
  height 18px
  line-height 18px
  border 1px solid back-dcolor